@{
    ViewBag.Title = "Service Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Service Areas</h2>

<div class="content" id="ServiceArea">
    <h6>Lifferth Appraisal services the following Utah counties</h6>
    <div class="content" id="ServiceAreaText">
        <ul>
            <li>Davis</li>
            <li>Weber</li>
            <li>Morgan</li>
            <li>Box Elder</li>
        </ul>
        <p id="OtherCounties">
            * Other counties by request
        </p>
    </div>
    <img src="../Content/images/StateMap.png" alt="Service Area" />
</div>

