@{
    ViewBag.Title = "Services And Fees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>Services</h6>
<div class="content">
    Residential and commercial appraisal services?......<br />
    Conventional, FHA, VA, divorce, tax appeal, etc....
</div>

<h6>Fees</h6>
<div class="content">
    <table>
        <tr>
            <th>Appraisal Type</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Residential Appraisal (homes < $500K)</td>
            <td class="price">$450</td>
        </tr>
        <tr class="odd">
            <td>Residential Appraisal (homes > $500K)</td>
            <td class="price">(quote)</td>
        </tr>
        <tr>
            <td>Lot Appraisal</td>
            <td class="price">$350 - $450</td>
        </tr>
        <tr class="odd">
            <td>Final Inspection</td>
            <td class="price">$100</td>
        </tr>
    </table>
</div>

<h6>Payment Options</h6>
<div class="content">
    [content goes here]
</div>