
#OrderAppraisal h4 {
    font-size: 16px;
    margin-bottom: 1px;
}

#OrderAppraisal label {
    color: #707070;
    font-weight: normal;
    margin-bottom: 2px;
    padding-right: 15px;
    text-align: right;
    width: 200px;
}

#OrderAppraisal .form-group {
    margin-bottom: 5px;
    position: relative;
}

#OrderAppraisal .form-group.last-form-group {
    margin-bottom: 0;
}

#OrderAppraisal .form-group .group-label {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    vertical-align: top;
    width: 200px;
}

#OrderAppraisal .form-group .group-input {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#OrderAppraisal .input-group {
    display: inline-table;
    max-width: 500px;
}

#OrderAppraisal .input-group-addon {
    border-color: #abadb3;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    padding: 0 8px;
}

#OrderAppraisal .dropdown {
    display: inline;
    padding-right: 0;
}


#OrderAppraisal .input-def {
    width: 150px;
}

#OrderAppraisal .input-med {
    width: 250px;
}

#OrderAppraisal .input-wide {
    width: 404px;
}

#OrderAppraisal .checkbox {
    margin-top: 0;
}

#OrderAppraisal label.radio-inline {
    margin-bottom: 1px;
    text-align: left;
    width: auto;
    padding-right: 5px;
}

.help-icon {
    background: transparent url(../../Content/images/help02.png) no-repeat 0 0;
    display: inline-block;
    height: 16px;
    margin-left: 12px;
    position:absolute;
    top: 3px;
    width: 16px;
}

select.blank-first-child option {
    color: #333;
}

select.blank-first-child option:first-child, select.select-placeholder {
    color: #a9a9a9;
}

#OrderAppraisal .default-input-value {
    border: 1px solid #abadb3;
    color: #7d7d7d;
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    padding: 1px 2px;
    width: 150px;
}

#OrderAppraisal textarea {
    font-size: 12px;
    width: 600px;
}

#OrderAppraisal #ClientInfo {
    display: none;
    padding-bottom: 10px;
    padding-top: 3px;
}


#OrderAppraisal .bottom-well {
    margin-bottom: 5px;
}

#OrderAppraisal .submit-buttons {
    margin-bottom: 15px;
}

.green-header {
    color: #6abe59;
}

#ConfirmationInfo {
    border: none;
    border-bottom: 1px dashed #a3a3a3;
    border-top: 1px dashed #a3a3a3;
    margin-top: 15px;
    min-height: 200px;
    padding: 0 10px;
}

#ConfirmationInfo > legend {
    border: none;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding: 0 4px 4px 4px;
    width: auto;
}

#ConfirmationInfo .confirmation-section {
    font-size: 13px;
    margin: 0 0 8px 0;
    overflow: auto;
    padding: 5px 0;
}

#ConfirmationInfo .confirmation-section .section-label {
    color: #19aacf;
    font-weight: bold;
    vertical-align: top;
}

#ConfirmationInfo .confirmation-section.bottom {
    margin-top: 0;
}

#ConfirmationInfo .confirmation-section .name {
    font-size: 16px;
}

#ConfirmationInfo .confirmation-section address {
    margin-bottom: 0;
    width: 200px;
}

#ConfirmationInfo .confirmation-section .section-data-col-2, 
#ConfirmationInfo .confirmation-section .section-data-col-1 {
    float: left;
}

#ConfirmationInfo .contact-for-access {
    clear: both;
    margin-top: 4px;
}

#ConfirmationInfo .occupant-label {
    color: #707070;
    font-style: italic;
    float: left;
    margin-right: 10px;
    vertical-align: top;
}

#ConfirmationInfo .occupant-label span, #ConfirmationInfo .sub-label {
    border-bottom: 1px dotted #999;
}

#ConfirmationInfo #orderClient {
    margin-bottom: 10px;
    overflow: auto;
}

#ConfirmationInfo #orderClient .sub-label {
    border-bottom: 1px dotted #999;
    color: #707070;
    font-size: 13px;
    font-style: italic;
    margin-left: 15px;
}

#ConfirmationInfo .occupant-data {
    float: left;
}

#ConfirmationInfo .confirmation-section .sales-info {
    clear: both;
    margin-top: 4px;
}

#ConfirmationInfo .confirmation-section .sales-info .legal-description {
    font-size: 12px;
}

#ConfirmationInfo .confirmation-section .sales-info .legal-description strong {
    font-size: 13px;
}

#ConfirmationFooter {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
}