@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="@Url.Content("~/Content/images/office3.jpg")" class="office-photo" alt="Our Office" />
@*<div class="mainSection"></div>*@

<div id="MainMoreInfo">
    <section>
        <h2>Services & Fees</h2>
        <p>Experience Matters</p>
        <p class="more">@Html.ActionLink("Services & Fees", "ServicesAndFees") </p>
    </section>
    <section>
        <h2 id="ServingSince">Serving Northern Utah Since 1975</h2>
        <p class="more">@Html.ActionLink("About Us", "AboutUs") </p>
    </section>
    <section>
        <h2>Order an Appraisal</h2>
        <p>Timely & Efficient</p>
        <p class="more">@Html.ActionLink("Order Appraisal", "New", "OrderAppraisal")</p>
    </section>
</div>
